@font-face
{
	font-family: "Input-Mono";
	src: url("fonts/Input-Regular_(InputMonoNarrow-Regular).ttf") format("truetype");
}

body 
{
	font-family: Input-Mono, "Courier New", monospace;
	display: flex; 
	flex-direction: column; 
}