@font-face
{
	font-family: "IBM Plex Mono";
	src: url("fonts/IBMPlexMono-Regular.ttf") format("truetype");
}

body {
	font-family: "IBM Plex Mono", monospace;
	background-color: black;
	color: white;
	line-height: 1.5;
	margin: 0;
}

.container { 
	min-width: 360px; 
	margin: 20px;
}

.nav { margin-bottom: 20px; }

a { color: red; word-wrap: break-word; }

ul { padding-left: 20px; }

li { margin-bottom: 5px;}

.img-container {
	width: 70%;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
}

.img-wrapper {
	width: 360px;
	max-height: 238px; 
	display: flex; justify-content: center; 
}

img { max-width: 100%; max-height: 100%; object-fit: contain; }

.home-img {
	width: 33%;
	min-width: 360px; 
}

footer { font-size: smaller; }

@media screen and (max-width: 700px) {
	.container { margin-left: 10px; margin-right: 10px; }

	.img-container {
		width: 100%;
	}
	.img-wrapper { 
		width: 170px; 
		max-height: 112px;
	}
}