/*@font-face
{
	font-family: "Input-Mono";
	src: url("fonts/Input-Regular_(InputMonoNarrow-Regular).ttf") format("truetype");
}*/

body 
{
  background-image: url('img/ul7.png');
  background-attachment: fixed;
  /*font-family: Input-Mono, monospace;*/
	font-family: CenturyGothic, AppleGothic, sans-serif;
	background-color: rgb(238, 201, 207);
}

h1 
{
	text-align: center; 
	padding: 20px;
}

/*desktop / landscape display*/
@media (min-aspect-ratio: 3/2)
{
	img.sticky {left: 10%;}
	.projects-container {width: 70vw;}
}

/*mobile / portrait display*/
@media (max-aspect-ratio: 2/3) 
{
	img.sticky {left: -5%;}
	#stick-embryo {left: -33%;}

	.projects-container {width: 90vw;}
}

.nav 
{
	font-size: 18px;
	text-align: center;
	padding: 80px;
}

a {color: black;}

p {text-align: center;}

.projects-container {margin: auto;}

.projects-l
{
	margin: auto;
	width: 60%;
	float: left;
	margin-bottom: 11%;
}

.projects-r 
{
	margin: auto;
	width: 60%;
	float: right;
	margin-bottom: 11%;
}

.projects-container img {width: 100%;}

.text 
{
	text-align: center; 
	padding: 20px
}

img.sticky-right 
{
	position: fixed;
	right: 0;
	width: 200px;
	height: 120px;
	z-index: 2;
}

img.sticky 
{
	position: fixed;
	top: 0;
	height: 100vh; width: auto;
	z-index: -1;
	opacity: 0.8;
}