<!DOCTYPE html>
<html lang="en">
<head>
	<title>internet is gone</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<div class="container">
	<div class="nav">
		<a href="/">/</a>&nbsp;
		<a href="/projects.html">projects</a>&nbsp;
		<a href="/art.html">art</a>&nbsp;
		<a href="/photos.html">photos</a>&nbsp;
		<a href="/about.html">about</a>
	</div>
	
	{% block content %}

	{% endblock %}

	<br><br>
	 <footer><a href="https://viralpubliclicense.org/" target="_blank">viral public license<br>copyleft (ɔ) all rights reversed</a></footer>
</div>

</div>

</body>
</html>