{% extends "_base.html" %}

{% block content %}

<br>
<div class="text-container">
dehumanized landscapes<br>
.<br>
.<br>
.<br>
emptied spaces<br><br><br><br>

    <p>
        this website is built with <a href="https://github.com/staticjinja/staticjinja" target="_blank">staticjinja</a>. view the source code <a href="https://github.com/internetisgone/internetisgone.github.io" target="_blank">here</a>.<br>
        view the old version <a href="/old" target="_blank">here</a>.<br>
    </p>
    <br>
    <p>
        write me anything :]<br>
        <span style="font-size: larger;">&#9993;</span> muon at cock.li<br>
        &#9919; <a href="/pgp/muon_public_key.txt" target="_blank">pgp</a> 175F 694A 04A6 C8F7 6F2E 030D D540 2E6C CB9F 6BDD
    </p>
  
</div>
<br>

{% endblock %}
