{% extends "base.html" %}

{% block content %}

<div class = "img-container">
	<div class = "img-wrapper">
		<a href="https://lain-os-is.online" target="_blank">
			<img src="../img/lain.png">
		</a>
	</div>

	<div class = "img-wrapper">
		<a href="https://github.com/internetisgone/kms-bot" target="_blank">
			<img src="../img/kms.png">
		</a>      
	</div>
			
	<div class = "img-wrapper">
		<a href="https://garbage-time-is-running-out.surge.sh" target="_blank">
			<img src="../img/bunnyy.png">
		</a>
	</div>
</div>

	{% endblock %}
