{% extends "base.html" %}

{% block content %}

<div class = "img-container project-container">
	<div class = "project-wrapper">
		<a href="https://lain-os-is.online" target="_blank">
			<img src="../img/lain.png">
		</a>
		<p><a href="https://lain-os-is.online" target="_blank">lain-os-is.online</a>. website for the eponymous <a href="https://absurdtrax.bandcamp.com/album/lain-os-is-online-vol-1-at-last-lain-is-free-at-030" target="_blank"> absurd trax compilation</a>. source code can be found <a href="https://github.com/internetisgone/lain-os-is.online" target="_blank">here</a></p>
	</div>
	

	<div class = "project-wrapper">
		<a href="https://github.com/internetisgone/kms-bot" target="_blank">
			<img src="../img/kms.png">
		</a>    
		<p><a href="https://github.com/internetisgone/kms-bot" target="_blank">kms bot</a>. a discord bot that periodically deletes old messages</p>  
	</div>
			
	<div class = "project-wrapper">
		<a href="https://garbage-time-is-running-out.surge.sh" target="_blank">
			<img src="../img/bunnyy.png">
		</a>
		<p><a href="https://garbage-time-is-running-out.surge.sh" target="_blank">garbage-time-is-running-out.surge.sh</a></p>
	</div>
</div>

	{% endblock %}
